@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --bright-blue: #3a7bfd;
  --gray-soft: rgba(119, 122, 146, 0.5);

  --th-light-bg: #e4e5f1;
  --th-light-dark-text: #484b6a;
  --th-light-el-bg: #fafafa;
  --th-light-complete: #d2d3db;

  --th-dark-bg: #161722;
  --th-dark-light-text: #e4e5f1;
  --th-dark-el-bg: #25273c;
  --th-dark-complete: #777a92;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Josefin Sans", Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: var(--th-dark-el-bg);
  color: var(--th-dark-light-text);
}

.light {
  background-color: var(--th-light-el-bg);
  color: var(--th-light-dark-text);
}

button {
  background: transparent;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

section ul {
  list-style: none;
}
